@charset "utf-8";
.contact-form{
	text-align: justify;
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
    gap:10px;
}

.contact-form input,
.contact-form textarea{
    background:#0a0a0a;
    border:1px solid #00ff66;
    color:#00ff66;
    padding:10px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline:none;
    box-shadow:0 0 10px #00ff66;
}
.textcontainer{
	width: 450px;
}
.contact-form button{
    background:#00ff66;
    color:black;
    border:none;
    padding:10px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#00cc55;
}
